<!-- <input type="file" (change)="changeListener($event)" #input multiple/> -->
<input id="photo" type="file" />

<button type="button" class="btn btn-success btn-s" (click)="upload()">
    Upload with method 2
</button>

<h4>multiple file-upload</h4>
<app-multiple-file-upload></app-multiple-file-upload>
<a href="http://www.encodedna.com/angular/multiple-file-upload-in-angular-4-using-web-apiI-in-mvc-4.htm">http://www.encodedna.com/angular/multiple-file-upload-in-angular-4-using-web-apiI-in-mvc-4.htm</a>